.vscode/

nodejs/*/node_modules/
nodejs/*/node_modules/**
package.json
package-lock.json
*_deasync.js
nodejs/*/test.js

java/.metadata/
java/*/.settings/
java/*/bin/
java/*/.classpath
java/*/.project
java/**/*.class
